In [1]:
import project_path
from src.features.preprocess import to_pickle, transform_columns, train_val_split, sampling
from src.models.random_forest import RandomForestModel
import pandas as pd

In [2]:
raw_path = '../data/raw/train_V2.csv'
pickle_path = '../data/interim/train_val_raw.pkl'
interim_path = '../data/interim/train_val_interim.pkl'
train_path = '../data/processed/train.pkl'
val_path = '../data/processed/val.pkl'

train_100000_path = '../data/processed/train_100000.pkl'

model_path = '../models/randomforest.pkl'

In [3]:
%%time
to_pickle(raw_path, pickle_path)

CPU times: total: 34.2 s
Wall time: 48.3 s

In [4]:
%%time
transform_columns(pickle_path, interim_path)

CPU times: total: 4.91 s
Wall time: 9.83 s

,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,killPoints,kills,killStreaks,...,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc
0,0,0,0.00,0,0,0,60,1241,0,0,...,0,0.0000,0,0.000,0,0,244.80,1,1466,0.4444
1,0,0,91.47,0,0,0,57,0,0,0,...,0,0.0045,0,11.040,0,0,1434.00,5,0,0.6400
2,1,0,68.00,0,0,0,47,0,0,0,...,0,0.0000,0,0.000,0,0,161.80,2,0,0.7755
3,0,0,32.90,0,0,0,75,0,0,0,...,0,0.0000,0,0.000,0,0,202.70,3,0,0.1667
4,0,0,100.00,0,0,0,45,0,1,1,...,0,0.0000,0,0.000,0,0,49.75,2,0,0.1875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4446961,0,0,0.00,0,0,0,74,1029,0,0,...,0,1292.0000,0,0.000,0,0,1019.00,3,1507,0.1786
4446962,0,1,44.15,0,0,0,69,0,0,0,...,0,0.0000,0,0.000,0,0,81.70,6,0,0.2935
4446963,0,0,59.06,0,0,0,66,0,0,0,...,0,0.0000,0,2.184,0,0,788.70,4,0,0.4815
4446964,0,4,180.40,1,1,2,11,0,2,1,...,2,0.0000,0,0.000,0,0,2748.00,8,0,0.8000
4446965,0,2,268.00,0,0,1,18,0,2,1,...,0,1369.0000,0,0.000,0,0,1244.00,5,0,0.5464

In [16]:
%%time
train_data, val_data = train_val_split(interim_path, train_path, val_path)
train_data.shape, val_data.shape

CPU times: total: 4.25 s
Wall time: 16.7 s

((3335223, 25), (1111742, 25))

In [6]:
%%time
sampling(train_path, train_100000_path, n=100000)

CPU times: total: 1.17 s
Wall time: 1.63 s

,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,killPoints,kills,killStreaks,...,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc
1801773,0,0,100.00,1,0,0,39,0,1,1,...,0,0.0,0,0.00,0,0,134.30,2,0,0.1429
1245308,0,0,208.70,2,0,0,30,0,1,1,...,0,0.0,0,0.00,0,0,2097.00,4,0,0.6000
2339338,0,3,163.50,0,0,6,26,0,1,1,...,0,0.0,0,70.79,0,0,1872.00,3,0,0.9570
2727259,0,0,0.00,0,0,0,84,0,0,0,...,0,0.0,0,0.00,0,0,91.48,2,0,0.1237
895500,0,2,126.20,1,0,4,57,1116,0,0,...,1,275.4,0,0.00,0,0,2116.00,4,1487,0.8367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4365301,0,3,105.40,0,0,10,40,0,0,0,...,0,1759.0,0,0.00,0,0,1222.00,4,0,0.8400
2706253,0,2,0.00,0,0,0,44,1200,0,0,...,0,0.0,0,0.00,0,0,2546.00,8,1453,0.8298
595276,0,0,200.00,3,0,1,17,0,2,1,...,0,0.0,0,0.00,1,0,111.90,6,0,0.1481
84330,0,6,347.60,0,0,5,7,1000,3,1,...,0,0.0,0,0.00,0,0,2989.00,4,1500,0.8830
885444,0,3,43.47,1,0,5,43,0,0,0,...,0,3105.0,0,0.00,0,0,3520.00,4,0,0.9259

In [7]:
%%time
train_data = pd.read_pickle(train_100000_path)
val_data = pd.read_pickle(val_path)
train_data.shape, val_data.shape

CPU times: total: 344 ms
Wall time: 439 ms

((100000, 25), (1111742, 25))

In [8]:
%%time
model = RandomForestModel(
    regr_kargs=dict(random_state=42)
)

CPU times: total: 0 ns
Wall time: 1.99 ms

In [10]:
%%time
model.train(data=train_100000_path)

Train MAE: 0.023368646599999984
CPU times: total: 1min 7s
Wall time: 1min 7s

In [12]:
%%time
model.validation(data=val_path)

Val MAE: 0.06277564968041145
CPU times: total: 27.2 s
Wall time: 27.4 s

In [13]:
%%time
model.save_model(model_path)

CPU times: total: 859 ms
Wall time: 4.78 s